// COLORES

// BACKGROUNDS
.bg-img-banner
  background-image: url(../assets/curso/banner-bg.png)
  background-position: center center
  background-size: cover




// OTROS
.tabs-c__header
  margin-bottom: 0 !important